@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=The+Nautigal:wght@700&display=swap');

body{
    margin: 0;
}

.imagen-introducao{
    width: calc(100vw - 15);
    height: 881px;
    background-color: #ffc1ae;
}

.imagen-introducao img {
    pointer-events: none;
    position: absolute;
    width: calc(100vw - 15px);

}

.imagen-introducao .blue-box {
    background-color: #202059;
    position: absolute;
    top: calc(40% - 30px);
    left: calc(50% - 215px);
    width: 460px;
    height: 400px;
}

.imagen-introducao h1{
    text-align: center;
    font-size: 50px;
    color: #ffc1ae;
}

.imagen-introducao .blue-box *{
    padding: 20px;
}

.imagen-introducao .blue-box p {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: "PT Serif", serif;
}

.no-fundo{
    position: absolute;
    top: calc(84% + 180px);
    left: calc(50% - 45px);
    width: 111px;
}
.no-fundo p{
    color: #ffc1ae;
    font-size: 35px;
    text-align: center;
    font-family: "The Nautigal", cursive;
}

.apresentacao{
    top: 901px;
    width: calc(100vw - 15px);
    background-color: #ffc1ae;
    width: calc(100vw - 15px);
    height: 534px;
    height: calc(100vh + 20px);
    font-family: "PT Serif";
    color: #202059;
}
.apresentacao img {
    position: absolute;
    right: 0px;
    top: 901px;
    height: 514px;
}

.apresentacao .titu {
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 0;
    padding-left: calc(30vw - 30px);
}

.apresentacao h2 {
    width: 300px;
    font-size: 70px;
}

.apresentacao div{
    padding-top: 0;
    padding-left: calc(25vw + 25px);
}

.apresentacao p {
    font-size: 35px;
    width: 380px;
}

.oferta-serv img{
    width: calc(100vw - 15px);
}

.oferta-serv .check-list{
    background-color: #ffc1ae;
    padding: 35px;
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 25vw;
    top: 1650px;
    font-family: "PT Serif";
    height: 105vh;
    color: #202059;
}

.check-list h2 {
    padding-left: 80px;
    font-size: 80px;
    width: 500px;
}

.check-list div{
    display: flex;
    align-items: center;
}

.check-list span{
    font-size: 50px;
}

.check-list p{
    padding-left: 20px;
    font-size: 30px;
    padding-top: 0;
    
}

.check-list hr{
    border-color: #202059;
    background-color: #202059;
    height: 2px;
}

footer{
    margin-top: 0;
    background-image: linear-gradient(to bottom, #5757f8, #202059);
    width: calc(100vw - 15px);
    height: 400px;
}